In [1]:
import pandas as pd  #Step 2, import pandas as pd

In [2]:
roommates_df = pd.DataFrame({'name':['owen','aaron','dylan'],'height':[178,186,175],'birth year':[2000,2001,2001]})
roommates_df  #Step 2, creating new DataFrame with three columns and three rows

    name  height  birth year
0   owen     178        2000
1  aaron     186        2001
2  dylan     175        2001

In [3]:
roommates_df.head(2)  #Step 3, view head of DataFrame

    name  height  birth year
0   owen     178        2000
1  aaron     186        2001

In [4]:
roommates_df.index  #Step 4, view index of DataFrame

RangeIndex(start=0, stop=3, step=1)

In [5]:
roommates_df['name']  #Step 5, view first column of DataFrame

0     owen
1    aaron
2    dylan
Name: name, dtype: object

In [6]:
roommates_df.iloc[0]  #Step 6, view first row of DataFrame

name          owen
height         178
birth year    2000
Name: 0, dtype: object

In [7]:
roommates_df.to_csv('roommates_data.csv')  #Step 7, write Dataframe to new CSV file

## Why are dynamic, interactive data visualizations useful when communicating data?

     I think it is important because humans are visual creatures.  This helps us see trends in data and lets us tell a story rather than just seeing a lot of data without an interactive visualazition.  Making it dynamic and interactive lets people dig further into the information they are interested in as well.